<!DOCTYPE html>
<html lang="com">
  <head>
    <meta charset="utf-8" />
    <title>M A B O I T E M A G I Q U E</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <nav>
      <ul>
        <li><a href="{{url_for('unboxing')}}">u n b o x</a></li>
        <li><a href="{{url_for('registration')}}">r e g i s t r a t i o n</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <iframe
      width="0"
      height="0"
      src="https://www.youtuberepeater.com/watch?v=JcPnn4-wicU#gsc.tab=0"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <h1>CARDBOARD BOX</h1>
  </body>
</html>
