<!DOCTYPE html>
<html lang="com">
<head>
  <meta charset="UTF-8">
  <title>UNBOX</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/unbox.css') }}">
 </head>
<body>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Knife#knife">TOPS</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Chocolate">BOTTOMS</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Vacuum_flask">JACKETS</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Cup">ACCESSORIES</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Tea">GIFT CARDS</a></li>
  </ul>
</body>
</html>