nav {
  width: 900px;
  margin: 0 auto;
  
  
}

nav:before {
  content:'';
  display:block;
  height:50px;
  width:100%;
  background:#050505;
  position:absolute;
  left:0;
  z-index:-1;
  }
ul {
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
  
}

ul li {
  float:left;
  
}

ul li a {
  color:#ffff;
  display:block;
  height:50px;
  padding:30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px
}

ul li a:hover {
  background:#696969
}

body{
  margin: 0;
  padding: 0;
  background-color: #050505;
  align-items: center;
  justify-content: center
  }


h1 {
  font-family: sans-serif; 
  text-align: center;
  margin-top: 150px;
  font-size:150px;
  font-weigth: 800;
  font-style: italic;
  color: transparent;
  background-image:url(https://i.pinimg.com/originals/e8/cf/f7/e8cff72cb6e31cdca7930531bc480885.gif);
  background-position: center;
  -webkit-background-clip: text;
  
    
  
}